body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: red;
}

#altro-titolo{
  color: royalblue;
}

.titolo-secondario{
  font-family: 'Roboto', sans-serif;
  color: goldenrod;
}

h1{
  text-align: center;
}

h2 {
  color: #779A9A;
}

h3{
  text-decoration: underline;
}

.main-box{
  box-sizing: border-box;
  width: 600px;
  height: 300px;
  /*colore di sfondo con 50% di opacità*/
  background-color: rgba(230, 107, 95, .5);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.text-box{
  width: 500px;
  border: 1px solid black;
}
.text-box p{
  color:yellowgreen;
  text-align:right
}

.text-box p .strong{
  font-weight: 800;
}

.text-info p .strong{
  color: black;
}

.image-box{
  width: 800px;
  height: 400px;
  border: 1px solid black;
  /*i percorsi delle immagini sono a partire dalla cartella CSS*/ 
  background-image: url('../img/logo-boolean.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size:contain;
}


.main-box.primo{
  margin-bottom: 20px;
}

.main-box.secondo{
  margin-top: -10px;
}

input[type="email"]
{
  background-color: brown;
}

ul li{
  color: grey;;
}

/* solo il primo figlio */
ul.prima  li:first-child{
  color: green;
}

/* solo l'ultimo figlio */
ul.prima  li:last-child{
  color: blue;
}

/* solo il qualto figlio */
ul.prima  li:nth-child(4){
  color:coral;
}

/* tutti i multipli di 3 a partire dal quinto elemento */
ul.prima  li:nth-child(3n + 5){
  color: yellow;
}

/* solo i figli dispari */
ul.seconda  li:nth-child(odd){
  color:coral;
}

/* situazione di default */
a, a:visited{
  text-decoration: none;
  color:darkred;
}

/* al passaggio del mouse */
a:hover{
  text-decoration: underline;
}

/* quando clicco */
a:active{
  color: red;
}








.end{
  margin-top: 100px;
}